:root{
    --black: #000000;
    --lightBlack: #0c1821;
    --lightGrey: #1b2a41;
    --greyBlue: #324a5f;
    --grey: #ccc9dc;
}
*{
    box-sizing:border-box;
    font-family: 'BIZ UDPMincho', serif;
    color: var(--grey);
   text-decoration:none;
   list-style: none;
    
}


body{
    background-color:var(--black);
    margin:0;
    margin-left:0.625rem;
}
ul{
    margin:0;
    padding:0;
}
header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.title-great-area{
    border-top:1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    width:60vw;
    margin:auto;
    text-align:center;
    padding:10px;
}

.title-small-area{
    width:90%;
    border-top:1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    margin:auto;
    padding:10px;
    font-size:1.5625rem;
    font-weight:700
}

.subtitle{
    margin-top:10px;
    font-size:0.9375rem;
}

.mobile{
    display:flex;
    justify-content:flex-end
}

.menu-mobile-button{
    background-color:var(--grey);
    width:60px;
    height:60px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    margin:5px;
}

.menu-mobile-button .menu-buton{
    background-color: var(--black);
    width:50%;
    height:3px;
    margin: auto;
    
    
}

.menu-mobile{
    display:none; /*quando aparecer, display:flex*/
    flex-direction:column;
    width:90vw;
    margin-right:0.625rem;

}

.close-menu{
    font-size:1.875rem;
    align-self:flex-end
}
.login-area{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:space-between;
    align-items:center;
    margin-bottom:1.875rem;
    
}


.mobile .buttons-area li{
    background-color:var(--grey);
    padding:1.5625rem;
    margin-bottom:0.3125rem;

}

.mobile .buttons-area li a{
    color:var(--black);
    text-transform:uppercase;
    font-size:1.25rem;
    
    
}


.desktop{
margin-top:60px;
margin-bottom:40px;


}


.menu-desktop-area{
    margin:auto;
    display:none;
    justify-content:center;
    align-items:center;

}

.menu-desktop .buttons-area li{
    display: inline;
    padding:10px;
    margin:40px;
    

}

.menu-desktop .buttons-area li:hover{
    border-top: 3px solid var(--greyBlue)
    
}

.menu-desktop .buttons-area a:hover li{
    color: var(--greyBlue);
}

.menu-desktop-area .login{
    margin-left:auto;
}

.menu-desktop-area .login:hover a{
    color:var(--lightBlack);
}








footer{
    border-top:1px solid var(--grey);
    padding-top:25px;
}

.oppenning-area-title,
.contact-title,
.find-us-title{
    width:fit-content;
    text-transform: uppercase;
    font-size:25px;
    color: var(--grey);
    border-bottom:1px solid var(--greyBlue);
    font-weight: 700;
    margin-bottom:1.5625rem;
    padding-bottom:0.3125rem;
}

.oppening-area ul li{
    margin-bottom:0.625rem;
}

.contact-title,
.find-us-title{
    margin-top:3.125rem;
}
.contact-adress{
    margin-bottom:3.75rem;
}
.findus-area .google-map iframe{
   width:95vw;
}
.social-media{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}
.credits{
    font-size:15px;
    margin-top:20px;
    text-align:center;
}
.credits a{
    text-decoration:underline;
    color:var(--lightGrey)
}







@media (min-width:1023px){
    .mobile{
        display:none;
    }
    .menu-desktop-area{
        display:flex;
    }
}